@using EGHeals.Components.UI.Buttons.Base;
@inherits ButtonBase;

<button class="button @GetVariantClass() @Class @(IsDisabled ? "disabled" : string.Empty)" type="@(IsSubmit ? "submit" : "button")" @onclick="@OnClick">
    @if (!string.IsNullOrWhiteSpace(Icon))
    {
        <i class="@Icon"></i>
    }
    @ChildContent
</button>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
   
    [Parameter] public bool IsSubmit { get; set; }

}
