<CardUI Class="@CardClass">
    <div class="card-content @Class">
        @if (PopupActions is not null)
        {
            <div class="card-content__action-content">
                <button class="card-content__action" @onclick="@OnTogglePopupHandler"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                @if (showPopup)
                {
                    <ContextPopupUI Class="card-content__context-popup" OnCollapse="OnTogglePopupHandler">
                        <ul>
                            @PopupActions
                        </ul>
                    </ContextPopupUI>
                }
            </div>
        }
        <div class="card-content__content">
            @ChildContent
        </div>
        @if (OnPrimaryAction.HasDelegate || OnSecondaryAction.HasDelegate)
        {
            <div class="card-content__actions">
                @if (OnPrimaryAction.HasDelegate)
                {
                    <button class="card-content__action--1" @onclick="OnPrimaryAction">
                        <span><i class="@PrimaryActionIcon"></i></span>
                        <span>@PrimaryActionText</span>
                    </button>
                }
                @if (OnSecondaryAction.HasDelegate)
                {
                    <button class="card-content__action--2" @onclick="OnSecondaryAction">
                        <span><i class="@SecondaryActionIcon"></i></span>
                        <span>@SecondaryActionText</span>
                    </button>
                }               
            </div>
        }         
    </div>
</CardUI>

@code{

    private bool showPopup = false;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public RenderFragment? PopupActions { get; set; }

    [Parameter] public string? Class { get; set; }

    [Parameter] public string? CardClass { get; set; }

    [Parameter] public EventCallback OnPrimaryAction { get; set; }

    [Parameter] public EventCallback OnSecondaryAction { get; set; }

    [Parameter] public string PrimaryActionText { get; set; } = "Edit";

    [Parameter] public string SecondaryActionText { get; set; } = "Delete";

    [Parameter] public string PrimaryActionIcon { get; set; } = "fa-regular fa-pen-to-square";

    [Parameter] public string SecondaryActionIcon { get; set; } = "fa-regular fa-trash-xmark";

    private void OnTogglePopupHandler() => showPopup ^= true;
}